@{
    ViewBag.Title = "Rasi Admin Kategoriler ";
    Layout = "../Shared/_Layout.cshtml";
}


<!-- begin:: Content Head -->
<div class="kt-subheader  kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Kategoriler</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>

            <a href="#" class="btn btn-label-warning btn-bold btn-sm btn-icon-h kt-margin-l-10">
                Add New
            </a>
            <div class="kt-input-icon kt-input-icon--right kt-subheader__search kt-hidden">
                <input type="text" class="form-control" placeholder="Search order..." id="generalSearch">
                <span class="kt-input-icon__icon kt-input-icon__icon--right">
                    <span><i class="flaticon2-search-1"></i></span>
                </span>
            </div>
        </div>

    </div>
</div>

<!-- end:: Content Head -->
<!-- begin:: Content -->
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
      
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                        <i class="kt-font-brand flaticon2-line-chart"></i>
                    </span>
                    <h3 class="kt-portlet__head-title">
                        Datatable Methods
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-wrapper">
                        <a href="#" class="btn btn-clean btn-icon-sm">
                            <i class="la la-long-arrow-left"></i>
                            Back
                        </a>
                        &nbsp;
                        <div class="dropdown dropdown-inline">
                            <button type="button" class="btn btn-brand btn-icon-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="flaticon2-plus"></i> Add New
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <ul class="kt-nav">
                                    <li class="kt-nav__section kt-nav__section--first">
                                        <span class="kt-nav__section-text">Choose an action:</span>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                            <i class="kt-nav__link-icon flaticon2-open-text-book"></i>
                                            <span class="kt-nav__link-text">Reservations</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                            <i class="kt-nav__link-icon flaticon2-calendar-4"></i>
                                            <span class="kt-nav__link-text">Appointments</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                            <i class="kt-nav__link-icon flaticon2-bell-alarm-symbol"></i>
                                            <span class="kt-nav__link-text">Reminders</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                            <i class="kt-nav__link-icon flaticon2-contract"></i>
                                            <span class="kt-nav__link-text">Announcements</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                            <i class="kt-nav__link-icon flaticon2-shopping-cart-1"></i>
                                            <span class="kt-nav__link-text">Orders</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__separator kt-nav__separator--fit">
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                            <i class="kt-nav__link-icon flaticon2-rocket-1"></i>
                                            <span class="kt-nav__link-text">Projects</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                            <i class="kt-nav__link-icon flaticon2-chat-1"></i>
                                            <span class="kt-nav__link-text">User Feedbacks</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__body">

                <!--begin: Search Form -->
                <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                    <div class="row align-items-center">
                        <div class="col-xl-8 order-2 order-xl-1">
                            <div class="row align-items-center">
                                <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                    <div class="kt-input-icon kt-input-icon--left">
                                        <input type="text" class="form-control" placeholder="Search..." id="generalSearch">
                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                            <span><i class="la la-search"></i></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                    <div class="kt-form__group kt-form__group--inline">
                                        <div class="kt-form__label">
                                            <label>Status:</label>
                                        </div>
                                        <div class="kt-form__control">
                                            <select class="form-control bootstrap-select" id="kt_form_status">
                                                <option value="">All</option>
                                                <option value="1">Pending</option>
                                                <option value="2">Delivered</option>
                                                <option value="3">Canceled</option>
                                                <option value="4">Success</option>
                                                <option value="5">Info</option>
                                                <option value="6">Danger</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                    <div class="kt-form__group kt-form__group--inline">
                                        <div class="kt-form__label">
                                            <label>Type:</label>
                                        </div>
                                        <div class="kt-form__control">
                                            <select class="form-control bootstrap-select" id="kt_form_type">
                                                <option value="">All</option>
                                                <option value="1">Online</option>
                                                <option value="2">Retail</option>
                                                <option value="3">Direct</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 order-1 order-xl-2 kt-align-right">
                            <a href="#" class="btn btn-default kt-hidden">
                                <i class="la la-cart-plus"></i> New Order
                            </a>
                            <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg d-xl-none"></div>
                        </div>
                    </div>
                </div>

                <!--end: Search Form -->
                <!--begin: Search Form -->
                <div class="kt-form kt-form--label-align-right kt-margin-t-10 kt-margin-b-30">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="input-group kt-input-group">
                                <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1">ID:</span></div>
                                <input type="text" class="form-control kt-input" id="kt_datatable_check_input" value="1">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary" type="button" id="kt_datatable_check">Select row</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <button class="btn btn-secondary" type="button" id="kt_datatable_reload">Reload</button>
                            <button class="btn btn-secondary" type="button" id="kt_datatable_check_all">Select all rows</button>
                            <button class="btn btn-secondary" type="button" id="kt_datatable_uncheck_all">Unselect all rows</button>
                            <button class="btn btn-secondary" type="button" id="kt_datatable_hide_column">Hide Date</button>
                            <button class="btn btn-secondary" type="button" id="kt_datatable_show_column">Show Date</button>
                            <button class="btn btn-secondary" type="button" id="kt_datatable_remove_row">Remove active row</button>
                            <button class="btn btn-secondary" type="button" id="kt_datatable_sort_asc">Sort Status [asc]</button>
                            <button class="btn btn-secondary" type="button" id="kt_datatable_sort_desc">Sort Status [desc]</button>
                        </div>
                    </div>
                </div>

                <!--end: Search Form -->
            </div>
            <div class="kt-portlet__body kt-portlet__body--fit">

                <!--begin: Datatable -->
                <div class="kt-datatable" id="api_methods"></div>

                <!--end: Datatable -->
            </div>
        </div>
    </div>

    <!-- end:: Content -->
</div>

<!-- end:: Content -->


@section Scritps {
    
    <script type="text/javascript">
        "use strict";
        // Class definition

        var KTDefaultDatatableDemo = function () {
            // Private functions

            // basic demo
            var demo = function () {

                var options = {
                    // datasource definition
                    data: {
                        type: 'remote',
                        source: {
                           
                            read: {
                                method: 'GET',
                                url: '/Category/GetCategories',
                            },
                        },
                        pageSize: 20, // display 20 records per page
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true,
                    },

                    // layout definition
                    layout: {
                        scroll: true, // enable/disable datatable scroll both horizontal and vertical when needed.
                        height: 550, // datatable's body's fixed height
                        footer: false, // display/hide footer
                    },

                    // column sorting
                    sortable: true,

                    pagination: true,

                    search: {
                        input: $('#generalSearch'),
                    },

                    // columns definition
                    columns: [
                        
                        {
                            field: 'ID',
                            title: 'Id',
                            width: 30,
                            type: 'number',
                            //template: function (row) {
                            //    return row.RecordID;
                            //},
                        },
                        {
                            field: 'Name',
                            title: 'Name',
                        },
                        {
                            field: 'Description',
                            title: 'Description',
                            //template: function (row) {
                            //    return row.Country + ' ' + row.ShipCountry;
                            //},
                        }, {
                            field: 'PriorityOrder',
                            title: 'Priority Order',
                            //type: 'date',
                            //format: 'MM/DD/YYYY',
                        }, {
                            field: 'ParentId',
                            title: 'Parent Id',
                        },

                         {
                            field: 'Actions',
                            title: 'Actions',
                            sortable: false,
                            width: 110,
                            overflow: 'visible',
                            autoHide: false,
                            template: function () {
                                return '\
						<div class="dropdown">\
							<a href="javascript:;" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown">\
                                <i class="la la-ellipsis-h"></i>\
                            </a>\
						  	<div class="dropdown-menu dropdown-menu-right">\
						    	<a class="dropdown-item" href="#"><i class="la la-edit"></i> Edit Details</a>\
						    	<a class="dropdown-item" href="#"><i class="la la-leaf"></i> Update Status</a>\
						    	<a class="dropdown-item" href="#"><i class="la la-print"></i> Generate Report</a>\
						  	</div>\
						</div>\
						<a href="javascript:;" class="btn btn-sm btn-clean btn-icon btn-icon-md" title="Edit details">\
							<i class="la la-edit"></i>\
						</a>\
						<a href="javascript:;" class="btn btn-sm btn-clean btn-icon btn-icon-md" title="Delete">\
							<i class="la la-trash"></i>\
						</a>\
					';
                            },
                        }],

                };

                var datatable = $('.kt-datatable').KTDatatable(options);

                // both methods are supported
                // datatable.methodName(args); or $(datatable).KTDatatable(methodName, args);

                $('#kt_datatable_destroy').on('click', function () {
                    // datatable.destroy();
                    $('.kt-datatable').KTDatatable('destroy');
                });

                $('#kt_datatable_init').on('click', function () {
                    datatable = $('.kt-datatable').KTDatatable(options);
                });

                $('#kt_datatable_reload').on('click', function () {
                    // datatable.reload();
                    $('.kt-datatable').KTDatatable('reload');
                });

                $('#kt_datatable_sort_asc').on('click', function () {
                    datatable.sort('Status', 'asc');
                });

                $('#kt_datatable_sort_desc').on('click', function () {
                    datatable.sort('Status', 'desc');
                });

                // get checked record and get value by column name
                $('#kt_datatable_get').on('click', function () {
                    // select active rows
                    datatable.rows('.kt-datatable__row--active');
                    // check selected nodes
                    if (datatable.nodes().length > 0) {
                        // get column by field name and get the column nodes
                        var value = datatable.columns('CompanyName').nodes().text();
                        console.log(value);
                    }
                });

                // record selection
                $('#kt_datatable_check').on('click', function () {
                    var input = $('#kt_datatable_check_input').val();
                    datatable.setActive(input);
                });

                $('#kt_datatable_check_all').on('click', function () {
                    // datatable.setActiveAll(true);
                    $('.kt-datatable').KTDatatable('setActiveAll', true);
                });

                $('#kt_datatable_uncheck_all').on('click', function () {
                    // datatable.setActiveAll(false);
                    $('.kt-datatable').KTDatatable('setActiveAll', false);
                });

                $('#kt_datatable_hide_column').on('click', function () {
                    datatable.columns('ShipDate').visible(false);
                });

                $('#kt_datatable_show_column').on('click', function () {
                    datatable.columns('ShipDate').visible(true);
                });

                $('#kt_datatable_remove_row').on('click', function () {
                    datatable.rows('.kt-datatable__row--active').remove();
                });

                $('#kt_form_status,#kt_form_type').selectpicker();

            };

            return {
                // public functions
                init: function () {
                    demo();
                },
            };
        }();

        jQuery(document).ready(function () {
            KTDefaultDatatableDemo.init();
        });
    </script>
}
