
@{
    ViewBag.Title = "GetProducts";
}
<div class="banner-v1 banner-image-container banner-inner" style="background-image: url(images/about/banner.jpg)">
    <img src="images/about/banner.jpg" height="624" width="1920" class="banner-image" alt="">
    <div class="banner-caption-v2">
        <h1>Hakkımızda</h1>
    </div>
</div>


<!-- Content Layout -->
<section class="content-layout content-section page-template-about">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img src="images/about/content-image-1.jpg" height="634" width="601" alt="">
            </div>
            <div class="col-md-7">
                <img src="images/about/logo.png" alt="" class="align-center" height="253" width="253">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <p>TContrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the </p>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
                <p>humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
            </div>
        </div>
        <div class="row pad-top-large"><hr></div>

        <div class="row content-row pad-top-large">
            <div class="col-md-5">
                <img src="images/about/content-image-2.jpg" alt="" height="562" width="570">
            </div>
            <div class="col-md-6">
                <h2>Farmers</h2>
                <h3>Lorem Ipsum</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="full-text-row-v1">
    <div class="container">
        <div class="col-sm-8">
            <h3>Buy this theme</h3>
        </div>
        <div class="col-sm-4 text-right">
            <button class="btn btn-lg btn-white">
                Purchase now
            </button>
        </div>
    </div>
</section>
<section class="content-section pad-top-small">
    <div class="container">
        <div class="col-md-6">
            <img src="images/about/content-image-3.jpg" height="430" width="570" alt="">
        </div>
        <div class="col-md-6">
            <div class="heading">
                <h2>Contact us</h2>
                <p class="sub">Multipurpose theme</p>
            </div>
            <div class="">
                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
            </div>
            <div class="pad-top-large">
                <form name="contact-form" action="#" data-parsley-validate>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control input-lg" placeholder="Your Name" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="email" class="form-control input-lg" placeholder="Email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" placeholder="Subject" required>
                    </div>

                    <div class="form-group">
                        <textarea rows="5" class="form-control input-lg" placeholder="Message" required></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-lg btn-primary pull-right hvr-shutter-out-vertical" value="Submit">
                    </div>
                    <div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- // Content Layout -->