
@{
    ViewBag.Title = "GetProducts";
}
<div class="banner-v1 banner-image-container banner-inner" style="background-image: url(images/about/banner.jpg)">
    <img src="images/about/banner.jpg" alt="" height="624" width="1920" class="banner-image">
    <div class="banner-caption-v2">
        <h1>Açık Çerez</h1>
    </div>
</div>


<!-- Content Section 6 -->
<section class="content-section content-6">
    <div class="container">

        <div class="row heading text-center">
            <div class="row-float pad-top-large product-list-filter">
                <div class="col-md-2">
                    <a href="#" class="btn-block
    btn btn-outline hvr-back-pulse " data-filter="*">Tümü</a>
                </div>
                <div class="col-md-2">
                    <a href="#" class="btn-block
    btn btn-outline hvr-back-pulse " data-filter=".fruites">Fruits</a>
                </div>
                <div class="col-md-2">
                    <a href="#" class="btn-block
    btn btn-outline hvr-back-pulse " data-filter=".organic">Organic</a>
                </div>
                <div class="col-md-2">
                    <a href="#" class="btn-block
    btn btn-outline hvr-back-pulse" data-filter=".frojen">Frojen</a>
                </div>
                <div class="col-md-2">
                    <a href="#" data-filter=".new-one" class="btn-block
    btn btn-outline hvr-back-pulse ">New ones</a>
                </div>
                <div class="col-md-2">
                    <a href="#" data-filter=".dried" class="btn-block
    btn btn-outline hvr-back-pulse ">Dried</a>
                </div>
            </div>
        </div>
        <div class="product-list-v1 row pad-top-large">
            <div class="column product-grid new-one">
                <div class="product">
                    <a class="mfp-image" data-effect="mfp-zoom-in" href="images/shop/product-thumb-1.jpg">
                        <img src="images/shop/product-thumb-1.jpg" alt="" height="299" width="370">
                    </a>
                    <div class="box-background">
                        <h3 class="title">Fresh Capsicum</h3>
                        <p class="excerpt">Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using Content here, </p>
                        <p class="price">
                            <span class="currency">$</span>
                            <span class="amount">45.00</span>
                            <span class="per">(Per kg)</span>
                        </p>
                        <div class="buy-options">
                            <select>
                                <option>Quantity</option>
                                <option>1 kg</option>
                                <option>5 kg</option>
                            </select>
                            <select>
                                <option>Type</option>
                                <option>1 kg</option>
                                <option>5 kg</option>
                            </select>
                        </div>
                        <div class="options">
                            <a href="" class="add-to-wishlist"><i class="fa fa-heart"></i> Add to wish list</a>
                            <a href="" class="btn btn-primary add-to-cart hvr-shutter-out-vertical btn-with-icon-right">Add to cart <i class="fa fa-cart-plus"></i></a>
                        </div>
                    </div>


                </div>
            </div>

            <div class="column product-grid organic">
                <div class="product">
                    <a class="mfp-image" data-effect="mfp-zoom-in" href="images/shop/product-thumb-1.jpg">
                        <img src="images/shop/product-thumb-1.jpg" alt="" height="299" width="370">
                    </a>
                    <div class="box-background">
                        <h3 class="title">Fresh Capsicum</h3>
                        <p class="excerpt">Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using Content here, </p>
                        <p class="price">
                            <span class="currency">$</span>
                            <span class="amount">45.00</span>
                            <span class="per">(Per kg)</span>
                        </p>
                        <div class="buy-options">
                            <select>
                                <option>Quantity</option>
                                <option>1 kg</option>
                                <option>5 kg</option>
                            </select>
                            <select>
                                <option>Type</option>
                                <option>1 kg</option>
                                <option>5 kg</option>
                            </select>
                        </div>
                        <div class="options">
                            <a href="" class="add-to-wishlist"><i class="fa fa-heart"></i> Add to wish list</a>
                            <a href="" class="btn btn-primary add-to-cart hvr-shutter-out-vertical btn-with-icon-right">Add to cart <i class="fa fa-cart-plus"></i></a>
                        </div>
                    </div>


                </div>
            </div>

            <div class="column product-grid fruites">
                <div class="product">
                    <a class="mfp-image" data-effect="mfp-zoom-in" href="images/shop/product-thumb-1.jpg">
                        <img src="images/shop/product-thumb-1.jpg" alt="" height="299" width="370">
                    </a>
                    <div class="box-background">
                        <h3 class="title">Fresh Capsicum</h3>
                        <p class="excerpt">Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using Content here, </p>
                        <p class="price">
                            <span class="currency">$</span>
                            <span class="amount">45.00</span>
                            <span class="per">(Per kg)</span>
                        </p>
                        <div class="buy-options">
                            <select>
                                <option>Quantity</option>
                                <option>1 kg</option>
                                <option>5 kg</option>
                            </select>
                            <select>
                                <option>Type</option>
                                <option>1 kg</option>
                                <option>5 kg</option>
                            </select>
                        </div>
                        <div class="options">
                            <a href="" class="add-to-wishlist"><i class="fa fa-heart"></i> Add to wish list</a>
                            <a href="" class="btn btn-primary add-to-cart hvr-shutter-out-vertical btn-with-icon-right">Add to cart <i class="fa fa-cart-plus"></i></a>
                        </div>
                    </div>


                </div>
            </div>
            <div class="column product-grid frojen">
                <div class="product">
                    <a class="mfp-image" data-effect="mfp-zoom-in" href="images/shop/product-thumb-1.jpg">
                        <img src="images/shop/product-thumb-1.jpg" alt="" height="299" width="370">
                    </a>
                    <div class="box-background">
                        <h3 class="title">Fresh Capsicum</h3>
                        <p class="excerpt">Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using Content here, </p>
                        <p class="price">
                            <span class="currency">$</span>
                            <span class="amount">45.00</span>
                            <span class="per">(Per kg)</span>
                        </p>
                        <div class="buy-options">
                            <select>
                                <option>Quantity</option>
                                <option>1 kg</option>
                                <option>5 kg</option>
                            </select>
                            <select>
                                <option>Type</option>
                                <option>1 kg</option>
                                <option>5 kg</option>
                            </select>
                        </div>
                        <div class="options">
                            <a href="" class="add-to-wishlist"><i class="fa fa-heart"></i> Add to wish list</a>
                            <a href="" class="btn btn-primary add-to-cart hvr-shutter-out-vertical btn-with-icon-right">Add to cart <i class="fa fa-cart-plus"></i></a>
                        </div>
                    </div>


                </div>
            </div>
            <div class="column product-grid new-one organic">
                <div class="product">
                    <a class="mfp-image" data-effect="mfp-zoom-in" href="images/shop/product-thumb-1.jpg">
                        <img src="images/shop/product-thumb-1.jpg" alt="" height="299" width="370">
                    </a>
                    <div class="box-background">
                        <h3 class="title">Fresh Capsicum</h3>
                        <p class="excerpt">Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using Content here, </p>
                        <p class="price">
                            <span class="currency">$</span>
                            <span class="amount">45.00</span>
                            <span class="per">(Per kg)</span>
                        </p>
                        <div class="buy-options">
                            <select>
                                <option>Quantity</option>
                                <option>1 kg</option>
                                <option>5 kg</option>
                            </select>
                            <select>
                                <option>Type</option>
                                <option>1 kg</option>
                                <option>5 kg</option>
                            </select>
                        </div>
                        <div class="options">
                            <a href="" class="add-to-wishlist"><i class="fa fa-heart"></i> Add to wish list</a>
                            <a href="" class="btn btn-primary add-to-cart hvr-shutter-out-vertical btn-with-icon-right">Add to cart <i class="fa fa-cart-plus"></i></a>
                        </div>
                    </div>


                </div>
            </div>
            <div class="column product-grid fruites">
                <div class="product">
                    <a class="mfp-image" data-effect="mfp-zoom-in" href="images/shop/product-thumb-1.jpg">
                        <img src="images/shop/product-thumb-1.jpg" alt="" height="299" width="370">
                    </a>
                    <div class="box-background">
                        <h3 class="title">Fresh Capsicum</h3>
                        <p class="excerpt">Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using Content here, </p>
                        <p class="price">
                            <span class="currency">$</span>
                            <span class="amount">45.00</span>
                            <span class="per">(Per kg)</span>
                        </p>
                        <div class="buy-options">
                            <select>
                                <option>Quantity</option>
                                <option>1 kg</option>
                                <option>5 kg</option>
                            </select>
                            <select>
                                <option>Type</option>
                                <option>1 kg</option>
                                <option>5 kg</option>
                            </select>
                        </div>
                        <div class="options">
                            <a href="" class="add-to-wishlist"><i class="fa fa-heart"></i> Add to wish list</a>
                            <a href="" class="btn btn-primary add-to-cart hvr-shutter-out-vertical btn-with-icon-right">Add to cart <i class="fa fa-cart-plus"></i></a>
                        </div>
                    </div>


                </div>
            </div>
            <div class="column product-grid organic">
                <div class="product">
                    <a class="mfp-image" data-effect="mfp-zoom-in" href="images/shop/product-thumb-1.jpg">
                        <img src="images/shop/product-thumb-1.jpg" alt="" height="299" width="370">
                    </a>
                    <div class="box-background">
                        <h3 class="title">Fresh Capsicum</h3>
                        <p class="excerpt">Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using Content here, </p>
                        <p class="price">
                            <span class="currency">$</span>
                            <span class="amount">45.00</span>
                            <span class="per">(Per kg)</span>
                        </p>
                        <div class="buy-options">
                            <select>
                                <option>Quantity</option>
                                <option>1 kg</option>
                                <option>5 kg</option>
                            </select>
                            <select>
                                <option>Type</option>
                                <option>1 kg</option>
                                <option>5 kg</option>
                            </select>
                        </div>
                        <div class="options">
                            <a href="" class="add-to-wishlist"><i class="fa fa-heart"></i> Add to wish list</a>
                            <a href="" class="btn btn-primary add-to-cart hvr-shutter-out-vertical btn-with-icon-right">Add to cart <i class="fa fa-cart-plus"></i></a>
                        </div>
                    </div>


                </div>
            </div>
            <div class="column product-grid organic">
                <div class="product">
                    <a class="mfp-image" data-effect="mfp-zoom-in" href="images/shop/product-thumb-1.jpg">
                        <img src="images/shop/product-thumb-1.jpg" alt="" height="299" width="370">
                    </a>
                    <div class="box-background">
                        <h3 class="title">Fresh Capsicum</h3>
                        <p class="excerpt">Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using Content here, </p>
                        <p class="price">
                            <span class="currency">$</span>
                            <span class="amount">45.00</span>
                            <span class="per">(Per kg)</span>
                        </p>
                        <div class="buy-options">
                            <select>
                                <option>Quantity</option>
                                <option>1 kg</option>
                                <option>5 kg</option>
                            </select>
                            <select>
                                <option>Type</option>
                                <option>1 kg</option>
                                <option>5 kg</option>
                            </select>
                        </div>
                        <div class="options">
                            <a href="" class="add-to-wishlist"><i class="fa fa-heart"></i> Add to wish list</a>
                            <a href="" class="btn btn-primary add-to-cart hvr-shutter-out-vertical btn-with-icon-right">Add to cart <i class="fa fa-cart-plus"></i></a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content Section 6 // -->