
@{
    ViewBag.Title = "GetProducts";
}

    <section class="content-layout content-section">
        <div class="container">
            <div class="row pad-top-small">
                <div class="col-md-12 heading text-center">
                    <h2>Organic Vegetables</h2>
                    <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, <span class="text-break"></span> as opposed to using Content here, content here', making it look like readable English. </p>
                </div>
            </div>
            <!-- Product List V1 -->
            <div class="product-list-v1">
                <div class="column">
                    <div class="product">
                        <a class="mfp-image" data-effect="mfp-zoom-in" href="images/shop/product-thumb-1.jpg">
                            <img src="images/shop/product-thumb-1.jpg" alt="" height="299" width="370">
                        </a>
                        <div class="box-background">
                            <h3 class="title">Fresh Capsicum</h3>
                            <p class="excerpt">Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using Content here, </p>
                            <p class="price">
                                <span class="currency">$</span>
                                <span class="amount">45.00</span>
                                <span class="per">(Per kg)</span>
                            </p>
                            <div class="buy-options">
                                <select>
                                    <option>Quantity</option>
                                    <option>1 kg</option>
                                    <option>5 kg</option>
                                </select>
                                <select>
                                    <option>Type</option>
                                    <option>1 kg</option>
                                    <option>5 kg</option>
                                </select>
                            </div>
                            <div class="options">
                                <a href="" class="add-to-wishlist"><i class="fa fa-heart"></i> Add to wish list</a>
                                <a href="" class="btn btn-primary add-to-cart hvr-shutter-out-vertical btn-with-icon-right">Add to cart <i class="fa fa-cart-plus"></i></a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="column">
                    <div class="product">
                        <a class="mfp-image" data-effect="mfp-zoom-in" href="images/shop/product-thumb-1-1.jpg">
                            <img src="images/shop/product-thumb-1-1.jpg" alt="" height="299" width="370">
                        </a>
                        <div class="box-background">
                            <h3 class="title">Fresh Capsicum</h3>
                            <p class="excerpt">Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using Content here, </p>
                            <p class="price">
                                <span class="currency">$</span>
                                <span class="amount">45.00</span>
                                <span class="per">(Per kg)</span>
                            </p>
                            <div class="buy-options">
                                <select>
                                    <option>Quantity</option>
                                    <option>1 kg</option>
                                    <option>5 kg</option>
                                </select>
                                <select>
                                    <option>Type</option>
                                    <option>1 kg</option>
                                    <option>5 kg</option>
                                </select>
                            </div>
                            <div class="options">
                                <a href="" class="add-to-wishlist"><i class="fa fa-heart"></i> Add to wish list</a>
                                <a href="" class="btn btn-primary add-to-cart btn-with-icon-right hvr-shutter-out-vertical">Add to cart <i class="fa fa-cart-plus"></i></a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="column">
                    <div class="product">
                        <a class="mfp-image" data-effect="mfp-zoom-in" href="images/shop/product-thumb-1-2.jpg">
                            <img src="images/shop/product-thumb-1-2.jpg" alt="" height="299" width="370">
                        </a>
                        <div class="box-background">
                            <h3 class="title">Fresh Capsicum</h3>
                            <p class="excerpt">Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using Content here, </p>
                            <p class="price">
                                <span class="currency">$</span>
                                <span class="amount">45.00</span>
                                <span class="per">(Per kg)</span>
                            </p>
                            <div class="buy-options">
                                <select>
                                    <option>Quantity</option>
                                    <option>1 kg</option>
                                    <option>5 kg</option>
                                </select>
                                <select>
                                    <option>Type</option>
                                    <option>1 kg</option>
                                    <option>5 kg</option>
                                </select>
                            </div>
                            <div class="options">
                                <a href="" class="add-to-wishlist"><i class="fa fa-heart"></i> Add to wish list</a>
                                <a href="" class="btn btn-primary add-to-cart btn-with-icon-right hvr-shutter-out-vertical">Add to cart <i class="fa fa-cart-plus"></i></a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="product-list-v1-pager text-center">
                <nav>
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true" class="fa fa-angle-left"></span>
                            </a>
                        </li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true" class="fa fa-angle-right"></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- // Product List V1 -->
            <div class="row pad-top-large">
                <div class="col-md-12 heading text-center">
                    <h2>Fresh Fruits</h2>
                    <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, <span class="text-break"></span> as opposed to using Content here, content here', making it look like readable English. </p>
                </div>
            </div>
            <!-- Product List V2 -->
            <div class="product-list-v2 pad-top-large">
                <div class="column">
                    <div class="product">
                        <div class="product-image">
                            <a class="mfp-image" data-effect="mfp-zoom-in" href="images/shop/product-thumb-2.jpg">
                                <img src="images/shop/product-thumb-2.jpg" alt="" height="303" width="570">
                            </a>
                        </div>
                        <div class="box-background">
                            <h3 class="title">Fresh Capsicum</h3>
                            <p class="excerpt">Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using Content here, </p>
                            <p class="price">
                                <span class="currency">$</span>
                                <span class="amount">45.00</span>
                                <span class="per">(Per kg)</span>
                            </p>
                            <div class="buy-options">
                                <select>
                                    <option>Quantity</option>
                                    <option>1 kg</option>
                                    <option>5 kg</option>
                                </select>
                                <select>
                                    <option>Type</option>
                                    <option>1 kg</option>
                                    <option>5 kg</option>
                                </select>
                            </div>
                            <div class="options">
                                <a href="" class="add-to-wishlist"><i class="fa fa-heart"></i> Add to wish list</a>
                                <a href="" class="btn btn-primary add-to-cart btn-with-icon-right hvr-shutter-out-vertical">Add to cart <i class="fa fa-cart-plus"></i></a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="column">
                    <div class="product">
                        <div class="product-image">
                            <a class="mfp-image" data-effect="mfp-zoom-in" href="images/shop/product-thumb-2-1.jpg">
                                <img src="images/shop/product-thumb-2-1.jpg" alt="" height="303" width="570">
                            </a>
                        </div>
                        <div class="box-background">
                            <h3 class="title">Fresh Capsicum</h3>
                            <p class="excerpt">Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using Content here, </p>
                            <p class="price">
                                <span class="currency">$</span>
                                <span class="amount">45.00</span>
                                <span class="per">(Per kg)</span>
                            </p>
                            <div class="buy-options">
                                <select>
                                    <option>Quantity</option>
                                    <option>1 kg</option>
                                    <option>5 kg</option>
                                </select>
                                <select>
                                    <option>Type</option>
                                    <option>1 kg</option>
                                    <option>5 kg</option>
                                </select>
                            </div>
                            <div class="options">
                                <a href="" class="add-to-wishlist"><i class="fa fa-heart"></i> Add to wish list</a>
                                <a href="" class="btn btn-primary add-to-cart btn-with-icon-right hvr-shutter-out-vertical">Add to cart <i class="fa fa-cart-plus"></i></a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="column">
                    <div class="product">
                        <div class="product-image">
                            <a class="mfp-image" data-effect="mfp-zoom-in" href="images/shop/product-thumb-2-2.jpg">
                                <img src="images/shop/product-thumb-2-2.jpg" alt="" height="303" width="570">
                            </a>
                        </div>
                        <div class="box-background">
                            <h3 class="title">Fresh Capsicum</h3>
                            <p class="excerpt">Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using Content here, </p>
                            <p class="price">
                                <span class="currency">$</span>
                                <span class="amount">45.00</span>
                                <span class="per">(Per kg)</span>
                            </p>
                            <div class="buy-options">
                                <select>
                                    <option>Quantity</option>
                                    <option>1 kg</option>
                                    <option>5 kg</option>
                                </select>
                                <select>
                                    <option>Type</option>
                                    <option>1 kg</option>
                                    <option>5 kg</option>
                                </select>
                            </div>
                            <div class="options">
                                <a href="" class="add-to-wishlist"><i class="fa fa-heart"></i> Add to wish list</a>
                                <a href="" class="btn btn-primary add-to-cart btn-with-icon-right hvr-shutter-out-vertical">Add to cart <i class="fa fa-cart-plus"></i></a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <!-- Content Section -->
            <div class="row-float pad-top-large">
                <div class="col-md-12 heading text-center">
                    <h2>Dried Powders</h2>
                    <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, <span class="text-break"></span> as opposed to using Content here, content here', making it look like readable English. </p>
                </div>
            </div>
            <!-- // Content Section -->
            <!-- Product List V3 -->
            <div class="product-list-v3">
                <div class="column">
                    <div class="product">
                        <div class="product-image">
                            <a class="mfp-image" data-effect="mfp-zoom-in" href="images/shop/product-thumb-3.jpg">
                                <img src="images/shop/product-thumb-3.jpg" alt="" height="340" width="340">
                            </a>
                        </div>
                        <div class="box-background">
                            <h3 class="title">Fresh Capsicum</h3>
                            <p class="excerpt">Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using Content here, </p>
                            <p class="price">
                                <span class="currency">$</span>
                                <span class="amount">45.00</span>
                                <span class="per">(Per kg)</span>
                            </p>
                            <div class="buy-options">
                                <select>
                                    <option>Quantity</option>
                                    <option>1 kg</option>
                                    <option>5 kg</option>
                                </select>
                                <select>
                                    <option>Type</option>
                                    <option>1 kg</option>
                                    <option>5 kg</option>
                                </select>
                            </div>
                            <div class="options">
                                <a href="" class="add-to-wishlist"><i class="fa fa-heart"></i> Add to wish list</a>
                                <a href="" class="btn btn-primary add-to-cart hvr-shutter-out-vertical btn-with-icon-right">Add to cart <i class="fa fa-cart-plus"></i></a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="column">
                    <div class="product">
                        <div class="product-image">
                            <a class="mfp-image" data-effect="mfp-zoom-in" href="images/shop/product-thumb-3-1.jpg">
                                <img src="images/shop/product-thumb-3-1.jpg" alt="">
                            </a>
                        </div>
                        <div class="box-background">
                            <h3 class="title">Fresh Capsicum</h3>
                            <p class="excerpt">Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using Content here, </p>
                            <p class="price">
                                <span class="currency">$</span>
                                <span class="amount">45.00</span>
                                <span class="per">(Per kg)</span>
                            </p>
                            <div class="buy-options">
                                <select>
                                    <option>Quantity</option>
                                    <option>1 kg</option>
                                    <option>5 kg</option>
                                </select>
                                <select>
                                    <option>Type</option>
                                    <option>1 kg</option>
                                    <option>5 kg</option>
                                </select>
                            </div>
                            <div class="options">
                                <a href="" class="add-to-wishlist"><i class="fa fa-heart"></i> Add to wish list</a>
                                <a href="" class="btn btn-primary add-to-cart hvr-shutter-out-vertical btn-with-icon-right">Add to cart <i class="fa fa-cart-plus"></i></a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="column">
                    <div class="product">
                        <div class="product-image">
                            <a class="mfp-image" data-effect="mfp-zoom-in" href="images/shop/product-thumb-3-2.jpg">
                                <img src="images/shop/product-thumb-3-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="box-background">
                            <h3 class="title">Fresh Capsicum</h3>
                            <p class="excerpt">Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using Content here, </p>
                            <p class="price">
                                <span class="currency">$</span>
                                <span class="amount">45.00</span>
                                <span class="per">(Per kg)</span>
                            </p>
                            <div class="buy-options">
                                <select>
                                    <option>Quantity</option>
                                    <option>1 kg</option>
                                    <option>5 kg</option>
                                </select>
                                <select>
                                    <option>Type</option>
                                    <option>1 kg</option>
                                    <option>5 kg</option>
                                </select>
                            </div>
                            <div class="options">
                                <a href="" class="add-to-wishlist"><i class="fa fa-heart"></i> Add to wish list</a>
                                <a href="" class="btn btn-primary add-to-cart hvr-shutter-out-vertical btn-with-icon-right">Add to cart <i class="fa fa-cart-plus"></i></a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <!-- Content Section -->
            <div class="row-float pad-top-large">
                <div class="col-md-12 heading text-center">
                    <h2>Dried Powders</h2>
                    <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, <span class="text-break"></span> as opposed to using Content here, content here', making it look like readable English. </p>
                </div>
            </div>
            <!-- // Content Section -->
            <!-- Product List V4 -->
            <div class="product-list-v4">
                <div class="column">
                    <div class="product">
                        <div class="product-image">
                            <a class="mfp-image" data-effect="mfp-zoom-in" href="images/shop/product-thumb-4.jpg">
                                <img src="images/shop/product-thumb-4.jpg" alt="" height="181" width="302">
                            </a>
                        </div>
                        <div class="box-background">
                            <h3 class="title">Fresh Capsicum</h3>
                            <p class="excerpt">Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using Content here, </p>
                        </div>
                        <div class="product-footer">
                            <p class="price">
                                <span class="currency">$</span>
                                <span class="amount">45.00</span>
                                <span class="per">(Per kg)</span>
                            </p>
                            <div class="buy-options">
                                <select>
                                    <option>Quantity</option>
                                    <option>1 kg</option>
                                    <option>5 kg</option>
                                </select>
                                <select>
                                    <option>Type</option>
                                    <option>1 kg</option>
                                    <option>5 kg</option>
                                </select>
                            </div>
                            <div class="options">
                                <a href="" class="add-to-wishlist"><i class="fa fa-heart"></i> Add to wish list</a>
                                <a href="" class="btn btn-primary add-to-cart hvr-shutter-out-vertical btn-with-icon-right">Add to cart <i class="fa fa-cart-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="product">
                        <div class="product-image">
                            <a class="mfp-image" data-effect="mfp-zoom-in" href="images/shop/product-thumb-4-1.jpg">
                                <img src="images/shop/product-thumb-4-1.jpg" alt="" height="181" width="302">
                            </a>
                        </div>
                        <div class="box-background">
                            <h3 class="title">Fresh Capsicum</h3>
                            <p class="excerpt">Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using Content here, </p>
                        </div>
                        <div class="product-footer">
                            <p class="price">
                                <span class="currency">$</span>
                                <span class="amount">45.00</span>
                                <span class="per">(Per kg)</span>
                            </p>
                            <div class="buy-options">
                                <select>
                                    <option>Quantity</option>
                                    <option>1 kg</option>
                                    <option>5 kg</option>
                                </select>
                                <select>
                                    <option>Type</option>
                                    <option>1 kg</option>
                                    <option>5 kg</option>
                                </select>
                            </div>
                            <div class="options">
                                <a href="" class="add-to-wishlist"><i class="fa fa-heart"></i> Add to wish list</a>
                                <a href="" class="btn btn-primary add-to-cart hvr-shutter-out-vertical btn-with-icon-right">Add to cart <i class="fa fa-cart-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="product">
                        <div class="product-image">
                            <a class="mfp-image" data-effect="mfp-zoom-in" href="images/shop/product-thumb-4-2.jpg">
                                <img src="images/shop/product-thumb-4-2.jpg" alt="" height="181" width="302">
                            </a>
                        </div>
                        <div class="box-background">
                            <h3 class="title">Fresh Capsicum</h3>
                            <p class="excerpt">Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using Content here, </p>
                        </div>
                        <div class="product-footer">
                            <p class="price">
                                <span class="currency">$</span>
                                <span class="amount">45.00</span>
                                <span class="per">(Per kg)</span>
                            </p>
                            <div class="buy-options">
                                <select>
                                    <option>Quantity</option>
                                    <option>1 kg</option>
                                    <option>5 kg</option>
                                </select>
                                <select>
                                    <option>Type</option>
                                    <option>1 kg</option>
                                    <option>5 kg</option>
                                </select>
                            </div>
                            <div class="options">
                                <a href="" class="add-to-wishlist"><i class="fa fa-heart"></i> Add to wish list</a>
                                <a href="" class="btn btn-primary add-to-cart hvr-shutter-out-vertical btn-with-icon-right">Add to cart <i class="fa fa-cart-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="product">
                        <div class="product-image">
                            <a class="mfp-image" data-effect="mfp-zoom-in" href="images/shop/product-thumb-4-3.jpg">
                                <img src="images/shop/product-thumb-4-3.jpg" alt="" height="181" width="302">
                            </a>
                        </div>
                        <div class="box-background">
                            <h3 class="title">Fresh Capsicum</h3>
                            <p class="excerpt">Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using Content here, </p>
                        </div>
                        <div class="product-footer">
                            <p class="price">
                                <span class="currency">$</span>
                                <span class="amount">45.00</span>
                                <span class="per">(Per kg)</span>
                            </p>
                            <div class="buy-options">
                                <select>
                                    <option>Quantity</option>
                                    <option>1 kg</option>
                                    <option>5 kg</option>
                                </select>
                                <select>
                                    <option>Type</option>
                                    <option>1 kg</option>
                                    <option>5 kg</option>
                                </select>
                            </div>
                            <div class="options">
                                <a href="" class="add-to-wishlist"><i class="fa fa-heart"></i> Add to wish list</a>
                                <a href="" class="btn btn-primary add-to-cart hvr-shutter-out-vertical btn-with-icon-right">Add to cart <i class="fa fa-cart-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content Section -->
            <div class="row-float pad-top-large">
                <div class="col-md-12 heading text-center">
                    <h2>Dry Fruits</h2>
                    <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, <span class="text-break"></span> as opposed to using Content here, content here', making it look like readable English. </p>
                </div>
            </div>
            <!-- // Content Section -->
            <!-- Product List V2 -->
            <div class="product-list-v2 pad-top-large">
                <div class="column">
                    <div class="product">
                        <div class="product-image">
                            <a class="mfp-image" data-effect="mfp-zoom-in" href="images/shop/product-thumb-2-3.jpg">
                                <img src="images/shop/product-thumb-2-3.jpg" alt="" height="303" width="570">
                            </a>
                        </div>
                        <div class="box-background">
                            <h3 class="title">Fresh Capsicum</h3>
                            <p class="excerpt">Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using Content here, </p>
                            <p class="price">
                                <span class="currency">$</span>
                                <span class="amount">45.00</span>
                                <span class="per">(Per kg)</span>
                            </p>
                            <div class="buy-options">
                                <select>
                                    <option>Quantity</option>
                                    <option>1 kg</option>
                                    <option>5 kg</option>
                                </select>
                                <select>
                                    <option>Type</option>
                                    <option>1 kg</option>
                                    <option>5 kg</option>
                                </select>
                            </div>
                            <div class="options">
                                <a href="" class="add-to-wishlist"><i class="fa fa-heart"></i> Add to wish list</a>
                                <a href="" class="btn btn-primary add-to-cart hvr-shutter-out-vertical btn-with-icon-right">Add to cart <i class="fa fa-cart-plus"></i></a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="column">
                    <div class="product product-image-right">
                        <div class="product-image">
                            <a class="mfp-image" data-effect="mfp-zoom-in" href="images/shop/product-thumb-2-4.jpg">
                                <img src="images/shop/product-thumb-2-4.jpg" alt="" height="303" width="570">
                            </a>
                        </div>
                        <div class="box-background">
                            <h3 class="title">Fresh Capsicum</h3>
                            <p class="excerpt">Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using Content here, </p>
                            <p class="price">
                                <span class="currency">$</span>
                                <span class="amount">45.00</span>
                                <span class="per">(Per kg)</span>
                            </p>
                            <div class="buy-options">
                                <select>
                                    <option>Quantity</option>
                                    <option>1 kg</option>
                                    <option>5 kg</option>
                                </select>
                                <select>
                                    <option>Type</option>
                                    <option>1 kg</option>
                                    <option>5 kg</option>
                                </select>
                            </div>
                            <div class="options">
                                <a href="" class="add-to-wishlist"><i class="fa fa-heart"></i> Add to wish list</a>
                                <a href="" class="btn btn-primary add-to-cart hvr-shutter-out-vertical btn-with-icon-right">Add to cart <i class="fa fa-cart-plus"></i></a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </section>
