@{
    ViewBag.Title = "Home Page";
}
<div class="banner-v1 banner-image-container " style="background-image: url(images/banner/banner.jpg)">
    <div class="banner-caption-v1">
        <div class="container">
            <div class="banner-caption-text">
                <h1 class="text-1"><img src="images/veg-iconc-1.png" height="96" width="147" alt="">Rasi</h1>
                <h2><img src="images/banner-text-1.png" height="142" width="436" alt=""></h2>
                <p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour </p>
            </div>
        </div>
    </div>
</div>
<!-- Content Section 1 -->
<section class="content-section content-1">
    <div class="container">
        <div class="image-banner-2 col-md-4">
            <img src="images/homepage/small-text-baner.jpg" height="453" width="370" alt="">
        </div>
        <div class="col-md-8  content-block">
            <h2>Rasi Market hakkında</h2>
            <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using Content here, content here', making it look like readable English. Many desktop publishing packages and web page Many desktop publishing packages and web</p>
            <p><a class="btn btn-primary hvr-shutter-out-vertical vg-btn-lg" href="/hakkimizda">Daha Fazla</a></p>
        </div>
    </div>
</section>
<!-- Content Section 1 // -->