@{
    ViewBag.Title = "Home Page";
}
<div class="banner-v1 banner-image-container " style="background-image: url(images/banner/banner.jpg)">
    @*<img src="images/banner/banner.jpg" height="1098" width="1920" alt="" class="banner-image">*@
    <div class="banner-caption-v1">
        <div class="container">
            <div class="banner-caption-text">
                <h1 class="text-1">rasi</h1>
                <img src="images/banner-text-1.png" style="margin-top: -100px;" height="142" width="436" alt="">
                <p style="font-size:20px; margin-top:unset;"><span style="        font-family: 'Chiller'; font-size: 40px;">rasi</span> ile market ihtiyaçlarınız kapınızda...</p>
            </div>
        </div>
    </div>
</div>
<!-- Content Section 1 -->
<section class="content-section content-1">
    <div class="container">
        <div class="image-banner-2 col-md-4">
            <img src="images/homepage/small-text-baner.jpg" height="453" width="370" alt="">
        </div>
        <div class="col-md-8  content-block">
            <h2><img src="images/rasilogo.png" height="164" width="164" alt=""> hakkında</h2>
            <p>Uzun yıllardır Mithatpaşa Caddesi/Göztepe'de siz değerli müşterilerimize hizmet veriyoruz. Her türlü market siparişiniz ve arayıp da bulamadağınız ürünler için lütfen bizimle iletişime geçiniz. Geniş ürün yelpazesi artık bir telefon uzağınızda...</p>
            <p><a class="btn btn-primary hvr-shutter-out-vertical vg-btn-lg" href="/hakkimizda">Daha Fazla</a></p>
        </div>
    </div>
</section>
<!-- Content Section 1 // -->