@{
    ViewBag.Title = "Home Page";
}

<!-- Content Section 1 -->
<section class="content-section content-1">
    <div class="container">
        <div class="image-banner-2 col-md-4">
            <img src="images/homepage/small-text-baner.jpg" height="453" width="370" alt="">
        </div>
        <div class="col-md-8  content-block">
            <h2>About veggie super market</h2>
            <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using Content here, content here', making it look like readable English. Many desktop publishing packages and web page Many desktop publishing packages and web</p>
            <p><a class="btn btn-primary hvr-shutter-out-vertical vg-btn-lg" href="#">Read more</a></p>
        </div>
    </div>
</section>
<!-- Content Section 1 // -->
<!-- Content Section 2 -->
<section class="content-section content-2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>Service</h2>
                <p>long established fact that a reader will be distracted by the readable content of a page when  <br>looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal</p>
            </div>
        </div>
        <div class="row pad-top-large">
            <div class="image-banner-1">
                <img src="images/homepage/text-block1.png" height="546" width="270" alt="">
            </div>
            <div class="image-banner-1">
                <img src="images/homepage/text-block2.png" height="546" width="270" alt="">
            </div>
            <div class="image-banner-1">
                <img src="images/homepage/text-block3.png" height="546" width="270" alt="">
            </div>
            <div class="image-banner-1">
                <img src="images/homepage/text-block4.png" height="546" width="270" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <a href="" class="btn btn-primary hvr-shutter-out-vertical vg-btn-lg">Know more</a>
            </div>
        </div>
    </div>
</section>
<!-- Content Section 2 // -->
<!-- Content Section 3 -->
<section class="content-section content-3">
    <div class="container">
        <div class="col-md-6">
            <img src="images/homepage/veg-rack.png" height="693" width="559" alt="">
        </div>
        <div class="col-md-6">
            <h2>
                Vegitable market
                psd template
            </h2>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humourIt is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like.</p>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humourIt is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less </p>
            <p><a href="#" class="btn btn-primary hvr-shutter-out-vertical vg-btn-lg">Purchase Now</a></p>
        </div>
    </div>
</section>
<!-- Content Section 3 // -->
<!-- Content Section 4 -->
<section class="content-section content-4">
    <div class="container">
        <div class="row heading text-center">
            <div class="col-xs-12">
                <h2>Farming Tips</h2>
                <p>long established fact that a reader will be distracted by the readable content of a page when <span class="text-break"></span>looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal</p>
            </div>
        </div>
        <div class="farming-tipps-slider">
            <div class="owl-carousel">
                <div class="item">
                    <div class="text-block-v1">
                        <div class="badge-v1">
                            Tips 1
                        </div>
                        <h3>
                            There are many
                            variations of passages
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in </p>
                        <p class="text-center"><a href="#" class="btn btn-info hvr-shutter-out-vertical vg-btn-lg">view more</a></p>
                    </div>
                </div>
                <div class="item">
                    <div class="text-block-v1">
                        <div class="badge-v1">
                            Tips 2
                        </div>
                        <h3>
                            There are many
                            variations of passages
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in </p>
                        <p class="text-center"><a href="#" class="btn btn-info hvr-shutter-out-vertical vg-btn-lg">view more</a></p>
                    </div>
                </div>
                <div class="item">
                    <div class="text-block-v1">
                        <div class="badge-v1">
                            Tips 3
                        </div>
                        <h3>
                            There are many
                            variations of passages
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in </p>
                        <p class="text-center"><a href="#" class="btn btn-info hvr-shutter-out-vertical vg-btn-lg">view more</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Content Section 4 // -->
<!-- Content Section 5 -->
<section class="content-section content-5">
    <div class="container">
        <div class="row heading">
            <div class="col-xs-12 text-center">
                <h2>New Week Featured</h2>
                <p>long established fact that a reader will be distracted by the readable content of a page when <span class="text-break"></span>looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal</p>
            </div>
        </div>
        <div class="row pad-top-large">
            <div class="col-sm-7">
                <div class="image-block-v1 big">
                    <img src="images/homepage/veg-big.jpg" height="721" width="669" alt="">
                    <div class="block-meta-v1">
                        <h4>
                            Fresh vegetables
                            <span class="off">30%</span> off
                        </h4>
                        <p><a class="btn btn-primary hvr-shutter-out-vertical vg-btn-lg">READ More</a></p>
                    </div>

                </div>
            </div>
            <div class="col-sm-5">
                <div class="image-block-v1">
                    <img src="images/homepage/veg-big-2.jpg" height="343" width="470" alt="">
                    <div class="block-meta-v1">
                        <h4>
                            Up to
                            <span class="off">30%</span> off
                        </h4>
                        <p>
                            <a class="btn btn-primary hvr-shutter-out-vertical vg-btn-lg">READ More</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="image-block-v1">
                    <img src="images/homepage/veg-big-3.jpg" height="343" width="470" alt="">
                    <div class="block-meta-v1">
                        <h4>Fresh tomato</h4>
                        <p><a class="btn btn-primary hvr-shutter-out-vertical vg-btn-lg">READ More</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content Section 5 // -->
<!-- Content Section 6 -->
<section class="content-section content-6">
    <div class="container">

        <div class="row heading text-center">
            <div class="col-xs-12">
                <h2>Our Shop</h2>
                <p>long established fact that a reader will be distracted by the readable content of a page when <span class="text-break"></span>looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal</p>
            </div>
            <div class="row-float pad-top-large product-list-filter">
                <div class="col-md-2">
                    <a href="#" class="btn-block
    btn btn-outline hvr-back-pulse " data-filter="*">All</a>
                </div>
                <div class="col-md-2">
                    <a href="#" class="btn-block
    btn btn-outline hvr-back-pulse " data-filter=".fruites">Fruits</a>
                </div>
                <div class="col-md-2">
                    <a href="#" class="btn-block
    btn btn-outline hvr-back-pulse " data-filter=".organic">Organic</a>
                </div>
                <div class="col-md-2">
                    <a href="#" class="btn-block
    btn btn-outline hvr-back-pulse" data-filter=".frojen">Frojen</a>
                </div>
                <div class="col-md-2">
                    <a href="#" data-filter=".new-one" class="btn-block
    btn btn-outline hvr-back-pulse ">New ones</a>
                </div>
                <div class="col-md-2">
                    <a href="#" data-filter=".dried" class="btn-block
    btn btn-outline hvr-back-pulse ">Dried</a>
                </div>
            </div>
        </div>
        <div class="product-list row pad-top-large">
            <div class="product-grid new-one">
                <div class="product-v1 organic">
                    <figure>
                        <img src="images/homepage/vegitable-medium-1.jpg" height="410" width="370" alt="">
                    </figure>
                    <div class="description">
                        <h3>Healthy  Carrot</h3>
                        <p><a href="" class="btn btn-info hvr-shutter-out-vertical">Add to cart</a></p>
                    </div>
                </div>
            </div>
            <div class="product-grid fruites">
                <div class="product-v1">
                    <figure>
                        <img src="images/homepage/vegitable-medium-2.jpg" height="410" width="370" alt="">
                    </figure>
                    <div class="description">
                        <h3>Awsome Apples</h3>
                        <p><a href="" class="btn btn-info hvr-shutter-out-vertical">Add to cart</a></p>
                    </div>
                </div>
            </div>
            <div class="product-grid frojen">
                <div class="product-v1">
                    <figure>
                        <img src="images/homepage/vegitable-medium-3.jpg" height="410" width="370" alt="">
                    </figure>
                    <div class="description">
                        <h3>Fresh Corns</h3>
                        <p><a href="" class="btn btn-info hvr-shutter-out-vertical">Add to cart</a></p>
                    </div>
                </div>
            </div>
            <div class="product-grid new-one organic">
                <div class="product-v1">
                    <figure>
                        <img src="images/homepage/vegitable-medium-4.jpg" height="410" width="370" alt="">
                    </figure>
                    <div class="description">
                        <h3>Organic Fruits</h3>
                        <p><a href="" class="btn btn-info hvr-shutter-out-vertical">Add to cart</a></p>
                    </div>
                </div>
            </div>
            <div class="product-grid dried fruites">
                <div class="product-v1">
                    <figure>
                        <img src="images/homepage/vegitable-medium-5.jpg" height="410" width="370" alt="">
                    </figure>
                    <div class="description">
                        <h3>Beautifull Almonds</h3>
                        <p><a href="" class="btn btn-info hvr-shutter-out-vertical">Add to cart</a></p>
                    </div>
                </div>
            </div>
            <div class="product-grid frojen organic">
                <div class="product-v1">
                    <figure>
                        <img src="images/homepage/vegitable-medium-6.jpg" height="410" width="370" alt="">
                    </figure>
                    <div class="description">
                        <h3>Fresh Tomato</h3>
                        <p><a href="" class="btn btn-info hvr-shutter-out-vertical">Add to cart</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content Section 6 // -->
<!-- News Letter -->
<div class="content-section content-newsletter text-center color-options-1">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 heading">
                <h2>Why everyone love us? subscribe to us</h2>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. <span class="text-break"></span> It has roots in a piece of classical Latin literature from 45 BC, making it long established fact that a reader will be distracted by the readable</p>
            </div>
            <div class="row-float pad-top-large">
                <form class="newsletter-form container" action="#" method="post" data-parsley-validate>
                    <input type="email" placeholder="Your email address" class="form-control" required>
                    <button type="submit" class="btn btn-default hvr-back-pulse ">subscribe now</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- News Letter // -->
<!-- Farmers list  -->
<div class="content-section content-farmers">
    <div class="container">
        <div class="row">
            <div class="col-xs-12  heading text-center">
                <h2>Our Farmers</h2>
                <p>long established fact that a reader will be distracted by the readable content of a page when looking at its layout. <span class="text-break"></span> The point of using Lorem Ipsum is that it has a more-or-less normal</p>
            </div>
            <div class="row-float pad-top-large">
                <div class="farmer-grid">
                    <div class="farmer-v1">
                        <figure>
                            <img src="images/homepage/farmer-1.png" alt="">
                        </figure>
                        <div class="description">
                            <h3>Nicole Jonshon</h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, </p>
                            <div class="social-links">
                                <a href="#" class="fa fa-facebook"></a>
                                <a href="#" class="fa fa-twitter"></a>
                                <a href="#" class="fa fa-behance"></a>
                                <a href="#" class="fa fa-vimeo-square"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="farmer-grid">
                    <div class="farmer-v1">
                        <figure>
                            <img src="images/homepage/farmer-2.png" alt="">
                        </figure>
                        <div class="description">
                            <h3>John Doe</h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, </p>
                            <div class="social-links">
                                <a href="#" class="fa fa-facebook"></a>
                                <a href="#" class="fa fa-twitter"></a>
                                <a href="#" class="fa fa-behance"></a>
                                <a href="#" class="fa fa-vimeo-square"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="farmer-grid">
                    <div class="farmer-v1">
                        <figure>
                            <img src="images/homepage/farmer-3.png" alt="">
                        </figure>
                        <div class="description">
                            <h3>william smith</h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, </p>
                            <div class="social-links">
                                <a href="#" class="fa fa-facebook"></a>
                                <a href="#" class="fa fa-twitter"></a>
                                <a href="#" class="fa fa-behance"></a>
                                <a href="#" class="fa fa-vimeo-square"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Farmers list // -->